body {

    background-color: whitesmoke;
    margin: 10%;
}

h1 {
    text-align: center;
}

.temario {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 15px;
}

.tema {
    background-color: white;

}

.boton {
    text-align: center;
    padding: 20px;
    background-color: blue;
    width: 20%;
    margin: auto;
    

}

a {
    color: white;
}


@media screen and (max-width: 700px) {
    body {
        flex-direction: column;
        background-color: whitesmoke;
        height: auto;
    }

    h1 {
        text-align: center;
    }

    .temario {
     color: white;
        
    }

    .tema {
        height: auto;
        width: 100%;
        background-color: white;

    }
}