:root {
    --color-primario: rgb(238, 147, 111);
    --color-boton: rgba(77, 14, 3, 0.829) ;
}

body {
    margin: 0%;
    background-color: whitesmoke;
}

header{
    width: 100%;
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between;
} 

.icono {
    width: 5%;
    margin:1%;
    
}

.perfil {
    margin: 3%;
}
.instagram {
    display: none;
}


main {
    margin: 3% 10%;
}

h2, h1 {
    text-align: center;
}

.temario {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 30px;
    
}
.tema {
    background-color: white;
    border-radius: 50px;
}
.tema > h3, ol{
    margin-left: 50px;


}

.boton {
    text-align: center;
    padding: 20px;
    background-color:var(--color-primario);
    width: 20%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    
}

.boton:hover {
    background-color: var(--color-boton);

}

.tema a{
    color: white;
    text-decoration: none;
}

a, a li {
    text-decoration:none;
    color: black;
}

/* Añadir media queris posteriormente, de momento no me sale responsive */
 @media screen and (max-width: 980px) {
    .temario {
        grid-template-columns:  2fr;
    }
    .icono {
        width: 5%;
    }
    .perfil {
        display: none;
    }
    .instagram {
        display: inline;
        width: 5%;
        margin: 1%;
        
    }
} 