body {
    margin: 10%;
    background-color: whitesmoke;
}
h1 {
    text-align: center;
}
.tema {
    background-color: white;
    
    
}
.contenidos {
    display: flex;
    width: 75%;
    margin: auto;
}
.izquierda {
text-align: left;
width: 25%;
}
.derecha {
    text-align:left;
    width: 25%;
}