:root {
    --color-primario: rgb(238, 147, 111);
}

body {

    background-color: whitesmoke;
    margin: 0%;
}

main {
    margin: 10%;
}

header{
    width: 100%;
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between;
} 
a {
    text-decoration: none;
    color: black;
}

.icono {
    width: 5%;
    margin:1%;
    
}
.perfil {
    margin: 3%;
}
.instagram {
    display: none;
}


.contenido {
    width: 100%;
    background-color: white;
    display: flex;
    
}

.izq {
    background-color: white;
    width: 50%;
    height: auto;
    margin: 1%;
}

.der {
    background-color: rgba(8, 7, 7, 0.904);
    color: rgba(0, 158, 221, 0.87);
    width: 50%;
    
}
.warning {
    background-color: yellow;
    color: black;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
}
.warning h3 {
    color: red;
}
h1 {
    text-align: center;
}
.ejecutar {
    display: flex;
    gap: 10px;
    align-items: center;
}
.resultado {
    display: none;
    width: 50%;
    
}
.resultado img{
    width: 100%;
}
input:checked~.resultado{
    position:relative;
    display: block;
    width: 100%;
}
input:checked~.codigo {
    display: none;
}
input [type=checkbox]{
    display: block;
}
input {
    display: none;
} 
label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    background-color: rgb(57, 233, 33);
}
input:checked ~ label {
    background: green; 
  }
label:hover{
    background: green;
  }



@media screen and (max-width: 940px) {
    .temario {
        grid-template-columns:  2fr;
    }
    .perfil {
        display: none;
    }
    .instagram {
        display: inline;
        width: 5%;
        margin: 1%;
        
    }
}

/* hr {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 100vh;
    width: 1px;

    hacer un hr vertical

} */